<div id="<%= dom_id flight %>">
  <p>
    <strong>Name:</strong>
    <%= flight.name %>
  </p>

  <p>
    <strong>Flight Number:</strong>
    <%= flight.flight_id %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= flight.source %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= flight.destination %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= flight.manufacturer %>
  </p>

  <p>
    <strong>Flight Class:</strong>
    <%= flight.flight_class %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= flight.capacity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= flight.status %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= flight.cost %>
  </p>

</div>
