<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<form action="/users" method="GET">
  <input type="text" name="search" placeholder="Type UserName/ UserId">
  <input type="submit" value="Search">
</form>
<br>



<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Card</th>
    <th>Address</th>
    <th>Mobile</th>
    <th>Email</th>

    <th colspan="4"></th>

  </tr>
  </thead>


  <tbody>

  <% @users.each do |user| %>
    <tr>

      <td><%= user.name %></td>
      <td><%= user.name %></td>
      <td><%= user.card %></td>
      <td><%= user.address %></td>
      <td><%= user.mobile %></td>
      <td><%= user.email %></td>

      <td><%= link_to "View", user %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New user", new_user_path %>
