<% if is_admin? %>
  <p style="color: green"><%= notice %></p>

  <h1>Users</h1>
  <form action="/users" method="GET">
    <input type="text" name="search" placeholder="Type UserName/ UserId">
    <input type="submit" value="Search">
  </form>
  <br>



  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>UserID</th>
      <th>Card</th>
      <th>Address</th>
      <th>Mobile</th>
      <th>Email</th>

      <th colspan="4"></th>

    </tr>
    </thead>


    <tbody>

    <% @users.each do |user| %>
      <tr>

        <td><%= user.name %></td>
        <td><%= user.id %></td>
        <td><%= user.card %></td>
        <td><%= user.address %></td>
        <td><%= user.mobile %></td>
        <td><%= user.email %></td>
        <td><%= link_to "View", user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>


  <script>
      $( function() {
          $( "#dialog" ).dialog();
      } );
  </script>


  <div id="dialog" title="Basic dialog">
    <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the &apos;x&apos; icon.</p>
  </div>
  <br>
  <%= link_to "New user", new_user_path %>
<% end %>
