<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit  user", edit_user_path(@user) %>

  <% if is_admin? %>

    |  <%= link_to "Back to users", users_path %>
    <br>
    <%= button_to "Destroy user", @user, method: :delete %>
  <% end %>
</div>
