<p id=”notice”><%= notice %></p>
<h1>WolfFly Airline</h1>
<p>Lets Flyyy!</p>
<% if current_user %>
  Logged in as <%= current_user.name %>.
  <br><%= link_to 'View all flights', flights_path %><br>
  <%= link_to 'View Reservations', reservations_path %><br>
  <!--  <%#= link_to 'Add credit card', new_credit_card_path %><br>-->
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Signup", signup_path %> or
  <%= link_to "Login", login_path %>
<% end %>
