<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if is_admin? %>
    <div>
      <%= form.label :user_id, style: "display: block" %>
      <%= form.number_field :user_id %>
    </div>
  <% end %>
  <div>
    <%= form.label :passengers, style: "display: block" %>
    <%= form.number_field :passengers %>
  </div>

  <!--  <div>-->
  <%#= form.label :res_id, style: "display: block" %>
  <%#= form.text_field :res_id %>
  <!--  </div>-->

  <div>
    <%= form.label :ticket_class, style: "display: block" %>
    <%= form.select :ticket_class ,[['First','first'],['Business','business'],['Economy','economy']] %>
  </div>

  <div class="field">
    <%= form.hidden_field :flight_id, value: @reservation.flight_id.nil? ? @flight.id : @reservation.flight_id %>
  </div>
  <br>
  <div>
    <%= form.label :amenities, style: "display: block" %>
    <%= form.select :amenities ,[['All','all'],['Wifi','wifi'],['Leg-space','leg-space'],['Food','food']]%>
  </div>
<br>
<!--  <div>-->
    <%#= form.label :total_cost, style: "display: block" %>
    <%#= form.number_field :total_cost %>
<!--  </div>-->

  <div>
    <%= form.submit %>
  </div>
<% end %>
