<div id="<%= dom_id reservation %>">
  <p>
    <strong>Passengers:</strong>
    <%= reservation.passengers %>
  </p>

  <p>
    <strong>Res:</strong>
    <%= reservation.res_id %>
  </p>

  <p>
    <strong>Ticket class:</strong>
    <%= reservation.ticket_class %>
  </p>

  <p>
    <strong>Amenities:</strong>
    <%= reservation.amenities %>
  </p>

  <p>
    <strong>Total cost:</strong>
    <%= reservation.total_cost %>
  </p>

</div>
