<p style="color: green"><%= notice %></p>

<h1>Reservations</h1>
<% if is_admin? %>
  <form action="/reservations" method="GET">
    <input type="text" name="search" placeholder="Type UserId">
    <input type="submit" value="Search">
  </form>
<% end %>

<br><br>
<table>
  <thead>
  <tr>
    <% if is_admin? %>
      <th>UserId</th>
      <th>UserName</th>
    <% end %>
    <th>Passengers</th>
    <th>Reservation Id</th>
    <th>Flight</th>
    <th>From</th>
    <th>To</th>
    <th>Ticket Class</th>
    <th>Amenities</th>
    <th>Total Cost</th>

    <th colspan="4"></th>

  </tr>
  </thead>

  <tbody>
  <% @reservations.each do |reservation| %>
    <tr>
      <% if is_admin? %>
        <td><%= reservation.user_id %></td>
        <td><%= User.find(reservation.user_id).name %></td>
      <% end %>
      <td><%= reservation.passengers %></td>
      <td><%= reservation.res_id %></td>
      <td><%= Flight.find(reservation.flight_id).name %></td>
      <td><%= Flight.find(reservation.flight_id).source %></td>
      <td><%= Flight.find(reservation.flight_id).destination %></td>
      <td><%= reservation.ticket_class %></td>
      <td><%= reservation.amenities %></td>
      <td><%= reservation.total_cost %></td>

      <td><button><%= link_to "View", reservation %></button></td>
      <td><button><%= link_to 'Edit', edit_reservation_path(reservation) %></button></td>
      <td><button><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      <td><button><%=  link_to "Add Baggage", new_baggage_path(:res_id => reservation.id) %></button></td>
    </tr>

  <% end %>
  </tbody>
</table>


