<p style="color: green"><%= notice %></p>

<h1>Baggages</h1>

<div id="baggages">
  <% @baggages.each do |baggage| %>
    <%= render baggage %>
    <p>
      <%= link_to "View baggage", baggage %>
    <td><%= link_to 'Edit', edit_baggage_path(baggage) %></td>
    <td><%= link_to 'Destroy', baggage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </p>
  <% end %>
</div>

<%#= link_to "New baggage", new_baggage_path %>
