<p style="color: green"><%= notice %></p>

<h1>Baggages</h1>
<% if is_admin? %>
  <form action="/baggages" method="GET">
    <input type="text" name="search" placeholder="Type UserId">
    <input type="submit" value="Search">
  </form>
<% end %>
<div id="baggages">
  <% @baggages.each do |baggage| %>
    <%= render baggage %>
    <p>
      <%= link_to "View baggage", baggage %>
    <td><%= link_to 'Edit', edit_baggage_path(baggage) %></td>
    <td><%= link_to 'Destroy', baggage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </p>
  <% end %>
</div>

<%#= link_to "New baggage", new_baggage_path %>
