<p style="color: green"><%= notice %></p>

<h1>Baggages</h1>
<% if is_admin? %>
  <form action="/baggages" method="GET">
    <input type="text" name="search" placeholder="Type UserId">
    <input type="submit" value="Search">
  </form>
<% end %>

<table>
  <thead>
  <tr>
    <% if is_admin? %>
      <th>User Id</th>
      <th>User Name</th>
  <% end %>
    <th>Reservation Number</th>
    <th>Baggage</th>
    <th>No. of Bags</th>
    <th>Baggage Cost</th>


    <th colspan="4"></th>

  </tr>
  </thead>



  <tbody>
  <% @baggages.each do |baggage| %>
    <tr>
      <% if is_admin? %>
        <td><%= baggage.user_id %></td>
        <td><%= User.find(baggage.user_id).name %></td>
    <% end %>
      <td><%= link_to Reservation.find(baggage.reservation_id).res_id, Reservation.find(baggage.reservation_id) %></td>
      <td><%= baggage.baggage_id %></td>
      <td><%= baggage.weight %></td>
      <td><%= baggage.baggage_cost %></td>

      <td><button><%= link_to "View baggage", baggage %></button></td>
    <td><button><%= link_to 'Edit', edit_baggage_path(baggage) %></button></td>
    <td><button><%= link_to 'Destroy', baggage, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>

    </tr>
  <% end %>
  </tbody>


  </table>

<%#= link_to "New baggage", new_baggage_path %>
