<!DOCTYPE html>
<html>
<head>
  <title>WolfFlyAirlines</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div>
  <% if logged_in? %>
    <br>
    <% if is_admin? %>
       Logged in as <%= current_user.name %>. Role: <u>Admin</u>
    <% else %>
      Logged in as <%= current_user.name %>. Role: <b>User</b>
    <% end %>
    <br><br><button><%= link_to "Back to Homepage", root_path %></button>
  <% end %>
</div>
<%= yield %>
</body>
</html>
